{% extends 'bug_ticket/base.html' %}
{% load static %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<div class="card-grid">

    <div class="card">
        <h3>Total Tickets</h3>
        <p>{{ total_tickets }}</p>
    </div>

    <div class="card">
        <h3>Open Tickets</h3>
        <p>{{ open_tickets }}</p>
    </div>

    <div class="card">
        <h3>Assigned Tickets</h3>
        <p>{{ assigned_tickets }}</p>
    </div>

    <div class="card">
        <h3>Closed Tickets</h3>
        <p>{{ closed_tickets }}</p>
    </div>

</div>

{% endblock %}